.banner{
    height: 440px;
    position: relative;
    color: white;
    object-fit: contain;

}
.banner_contents{
    margin-left :30px;
    padding-top:250px;
    height : 190px;
}
.banner_title{
    font-size: 3rem;
    font-weight : 800;
    padding-bottom: 0.3rem;
}
.banner_discription{
    weight: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 0.8rem;
    max-width: 360px;
    height: 80px
}
.banner_fadebutton{
    
    height: 7.4rem;
    background-image: linear-gradient(180deg, 
        rgba(37, 37, 37, 0.61), 
        rgba(255, 255, 255, 255));
}