.nav{
    position: fixed;
    top: 0;
    padding:20px;
    width: 100%;
    height: 30px;
    z-index: 1;

    transition-timing-function: ease-in;
    transition: all 0.5s;


}


.nav_contents{
    display: flex;
    justify-content: space-between;
}
.nav_logo{
    position: fixed;
    left:0;
    top: 10px;
    right: 20px;
    width: 80px;
    padding-left : 20px;
    object-fit: contain;
    cursor: pointer;

}
.nav_avatar{ 
    cursor: pointer;
    position: fixed;
    width: 30px;
    right: 20px; 

}
.nav_black{
    background-color: black;
}